.Card {
  border-radius: 10px;
  border: black 2px solid;
  width: 600px;
  height: 300px;
  display: flex;
  background-color: #3C3E44;
  overflow: hidden;
}

.Card__information {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
}

.Card__information-headline {
  color: lightgrey;
  font-size: small;
}

.card-container {
  display: flex;
  flex-direction: column;  
  gap: 20px;
}

.formstyle {

  border-radius: 20px;
  background-color: tomato;
  border: saddlebrown solid 4px;
}

.card-header {
font-family: 'Archivo Black';

}